#board-info #viewers-area .fa-user:before {
   !color: #1C1A4E;
 color: #800080;
content: url(https://canda25uh.github.io/HGTcss/howmany.gif);
}

#board-info #viewers-area #viewers:before {
content: "한청자";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명 머기중";
    cursor: text;
}
