@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face { font-family: 'UhBeeSe_hyun'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSe_hyun.woff') format('woff'); font-weight: normal; font-style: normal; }

html {
!background: linear-gradient(to bottom, #D9E5FF, #D9E5FF);
background: url("https://canda25uh.github.io/HGTcss/bg.png");
!background: url("http://drive.google.com/uc?export=view&id=13K4b-mhDBUIds9oJfZ9GFkSAjsatBZnD");
  

height: auto !important;
}
body {
letter-spacing: -0.03em !important;
  background: transparent;
  font-family: 'UhBeeSe_hy1un', sans-serif;

}

/* 배너 */

header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {
    border-radius: 20px;
}

/* 전체 쉐도우 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 로고밑 NAV bar */

header #header-bar>.row {
  border-top: 2px solid #1C1A4E;
  border-left: 2px solid #1C1A4E;
  border-right: 2px solid #1C1A4E;
  border-bottom: 2px solid #1C1A4E;
  border-radius: 20px;
}

/* 헤더 배너 */

header .row>div:nth-child(1)>a {
  display: block;
  width: 145px;
  height: 50px;
  background: url(https://upload.tgd.kr/20190207/0f0a61fcd0f32ecd2f14b74b1f252ca1.png) no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: none;
   
   filter: grayscale(100%);
  opacity: 0.8;
}

/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: 2px solid #1C1A4E;
  border-radius: 20px;
}


/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
    background: #1C1A4E;
    border: 2px solid #1C1A4E !important;
    border-radius: 20px 20px 0 0;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #5D5A8B;
}

/* 메인 배너 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
    background: #FFFFFF;
    border-top: 2px solid #1c1a4e;
    border-left: 2px solid #1c1a4e;
    border-right: 2px solid #1c1a4e;
    border-bottom: 2px solid #1c1a4e;
;
}

#main .menu-wrapper {
  border: none;
}

/* 헤더 검색 버튼 */

header #right-search-form>#right-search-btn {
  color: #1C1A4E;
}

/* 헤더 [광고]배경색 */

header #header-bar #header-top-notice strong.notice-badge {
  background: #A566FF;
}

/* fa색상 */

header #header-bar .fa {
  color: #1C1A4E;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #A566FF;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #5D5A8B;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #5D5A8B;
  height: 0.15em;
}

/* 게시글 관련부분 */

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #A566FF;
  background: white;
}

#article-list #article-list-category>a {
  background: white;
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #A566FF;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #A566FF;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #A566FF;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #A566FF;
  border-color: #A566FF;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #A566FF;
}

.pagination>li>a,
.pagination>li>span {
  color: #A566FF;
}

#article-content-wrapper>.header {
  border-top: 2px solid #A566FF;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #A566FF;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #A566FF !important;
}

#article-reply-area>.header h5 {
  color: #A566FF;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #A566FF;
}

span.a-badge i.fa.fa-info-circle {
  color: #1C1A4E;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

.btn-primary {
  background: #1C1A4E !important;
}

/*동그라미*/
#board-info #board-info-profile-img{
    width: 4em;
    height: auto;
    float: left !important;
    border-radius: 50%;
    border: 1px solid #1C1A4E;
    position: relative;
    top: -6px;
    left: -5px;
    animation: doongdoong 2s infinite linear;
}

/* 접속자 수 */

#board-info #viewers-area .fa-user:before {
   !color: #1C1A4E;
 color: #800080;
content: url(http://drive.google.com/uc?export=view&id=1DqAUDogUMhppHD1lZAxj1y39Flfbi9uK);
}

#board-info #viewers-area #viewers:before {
content: "실버타운 ";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명 거주중";
    cursor: text;
}
